#**作業二**

###**Kaggle參賽流程**

####Step 1. 選擇題目：Spaceship Titanic

這次我選擇的題目是老師在課堂中推薦的Spaceship Titanic，因為身為新手，在試著做作業1時，就感受到了很大的挫折，因此決定聽從老師的建議，先從簡單的題目下手、熟悉參賽流程，等之後上課多學習幾個範例後，再挑戰其他比賽。

####Step 2. 建構模型：資料整理和訓練

選擇好題目後，點選"Join Competition"即可在data區下載此題目的相關資料，要針對其中的train data去做資料整理和訓練

####Step 3. 套用模型：整理test data

接著把test data的格式整理成符合自己的模型，再將模型套用上去，並察看結果

####Step 4. 整理結果並匯出

最後，把所得的結果整理成Kaggle要求的格式，並將該結果上傳到Kaggle，即可獲得該次競賽的分數和排名。

###**Spaceship Titanic建構模型**

####import modules

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

####import dataset

In [4]:
df=pd.read_csv("spacetitanic/train.csv")

####data observation

In [5]:
df.head(n=8)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True

In [6]:
df.info() #觀察資料型別

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [7]:
df.isnull().sum() #看資料空值的多寡

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [8]:
df.isnull().sum()>(len(df)/2) #看資料空值是否大於一半，若大於一半可不處理，直接刪除該欄位

PassengerId     False
HomePlanet      False
CryoSleep       False
Cabin           False
Destination     False
Age             False
VIP             False
RoomService     False
FoodCourt       False
ShoppingMall    False
Spa             False
VRDeck          False
Name            False
Transported     False
dtype: bool

####data organization

In [9]:
df[['deck','num','side']]=df['Cabin'].str.split("/", n=3, expand=True) #將Cabin欄位中包含的三筆資料拆開(Cabin->deck、num、side)

In [10]:
df.drop(['Name','num','Cabin'],axis=1,inplace=True) #Remove the columns model will not use

In [11]:
#以平均值填補以下欄位之空值
df['Age'].fillna(np.mean(df['Age']), inplace=True)
df['RoomService'].fillna(np.mean(df['RoomService']), inplace=True)
df['FoodCourt'].fillna(np.mean(df['FoodCourt']), inplace=True)
df['ShoppingMall'].fillna(np.mean(df['ShoppingMall']), inplace=True)
df['Spa'].fillna(np.mean(df['Spa']), inplace=True)
df['VRDeck'].fillna(np.mean(df['VRDeck']), inplace=True)

In [12]:
#以發生頻率最高的事件填補以下欄位之空值
df['HomePlanet'].fillna(df['HomePlanet'].value_counts().idxmax(),inplace=True)
df['CryoSleep'].fillna(df['CryoSleep'].value_counts().idxmax(),inplace=True)
df['Destination'].fillna(df['Destination'].value_counts().idxmax(),inplace=True)
df['VIP'].fillna(df['VIP'].value_counts().idxmax(),inplace=True)
df['deck'].fillna(df['deck'].value_counts().idxmax(),inplace=True)
df['side'].fillna(df['side'].value_counts().idxmax(),inplace=True)

####data type casting

In [13]:
df=pd.get_dummies(data=df, dtype=int, columns=['HomePlanet','CryoSleep','Destination','VIP','Transported','deck','side'])
df.drop(['VIP_False','Transported_False','CryoSleep_False'],axis=1,inplace=True) #VIP_False可由VIP_True推得，其他欄位以此類推

####confirm there's no null value

In [14]:
df.isnull().sum()

PassengerId                  0
Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
CryoSleep_True               0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
VIP_True                     0
Transported_True             0
deck_A                       0
deck_B                       0
deck_C                       0
deck_D                       0
deck_E                       0
deck_F                       0
deck_G                       0
deck_T                       0
side_P                       0
side_S                       0
dtype: int64

####split to training data & testing data

In [15]:
X=df.drop(['Transported_True'],axis=1)
y=df['Transported_True']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=67)

####using Logistic regression model

In [16]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=500)
lr.fit(X_train,y_train)
predictions=lr.predict(X_test)

####Evaluate

In [18]:
from sklearn.metrics import confusion_matrix,accuracy_score, recall_score, precision_score
accuracy_score(y_test,predictions)

0.7786083956296722

In [24]:
confusion_matrix(y_test,predictions)
pd.DataFrame(confusion_matrix(y_test,predictions),columns=['Predict not Transported', 'Predict Transported'],index=['True not Transported','True Transported'])

                      Predict not Transported  Predict Transported
True not Transported                      578                  278
True Transported                          107                  776

####Model export

In [25]:
import joblib
joblib.dump(lr,'SpaceTitanic-LR-20231114.pkl',compress=3) #compress數字越大壓縮越多，但速度較慢

['SpaceTitanic-LR-20231114.pkl']

###**心得**

其中，若Kaggle要求以True或False來標示答案，而我們卻用0或1來標記，那麼將成果匯入Kaggle後就會得到0分的成績。

###**參考資料**

1. [https://www.delftstack.com/zh-tw/howto/python-pandas/split-strings-into-two-list-columns-in-python-pandas-using-str-split/](https://www.delftstack.com/zh-tw/howto/python-pandas/split-strings-into-two-list-columns-in-python-pandas-using-str-split/)
2. [https://yanwei-liu.medium.com/python-pandas%E4%BD%BF%E7%94%A8%E7%AD%86%E8%A8%98-a4682e254d90](https://yanwei-liu.medium.com/python-pandas%E4%BD%BF%E7%94%A8%E7%AD%86%E8%A8%98-a4682e254d90)